%table{:id => "websites", :class => "tablesorter"}
	%thead
		%th Website
		%th Department
		%th Visits
		%th Strategy and planning costs
		%th Design and build costs
		%th Hosting and infrastructure costs
		%th Content provision costs
		%th Testing and evaluation costs
		%th Total costs (excl staff)
		%th Total costs per visit
		%th Staff costs
	%tbody
		= @websites.each do | website|
			%tr
				%td
					%a{:href=>"http://www." + website["website"]}=website["website"]
				%td=website["department"]
				%td=website["visits_apr_09_to_mar_10"].to_display
				%td=website["strategy_and_planning_costs"].to_money
				%td=website["design_and_build_costs"].to_money
				%td=website["hosting_and_infrastructure_costs"].to_money
				%td=website["content_provision_costs"].to_money
				%td=website["testing_and_evaluation_costs"].to_money
				%td=website["total_costs_excl_staff"].to_money
				%td=website["total_costs_per_visit"].to_money
				%td=website["staff_costs"].to_money
:javascript 
	$(document).ready(function() 
		{ 
			$("#websites").tablesorter(); 
		} 
	);