%html
	%head
		%title UK Government website cost 2009-2010
		%link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
		%script{:src => "/scripts/jquery.tablesorter.min.js", :type => "text/javascript"}
	%body
		%h1 UK government website costs 2009-2010
		= yield